<%= simple_form_for([@post, @post.comments.build]) do |f| %>
<%= f.error_notification %>
<%= f.input :commenter, :label => "Nickname", placeholder: 'Enter your nickname', required: true %>
<%= f.input :body, :label => "Your comment", placeholder: 'Enter your comment', required: true %>
<%= recaptcha_tags :callback => "enableBtn" %>
<div class="center-on-small-only">
   <%= f.submit :Send, class: 'btn', id: 'sbm', disabled: 'disabled' %>
</div>
<% end %>
<script type="text/javascript" src="/js/btn_enable.js"></script>