<div id="flash-message">
   <%= render 'shared/flash' %>
</div>
<%= simple_form_for([@presenter.post, @presenter.post.comments.build], remote: true) do |f| %>
<%= f.error_notification %>
<%= f.input :commenter, :label => "Nickname", placeholder: 'Enter your nickname' %>
<%= f.input :body, :label => "Your comment", placeholder: 'Enter your comment' %>
<%= recaptcha_tags :callback => "enableBtn", class: "mt-3" %>
<%= f.submit :Send, class: 'btn mt-2', id: 'sbm', data: { disable_with: "Please wait..." }, disabled: true %>
<% end %>
