<% if show_slider? %>
	<div class="slider">
		<header class="masthead d-none">
			<%= render 'shared/slider' %>
		</header>
	</div>
<% elsif !show_map? %>
		<header class="masthead" style="background-image: url(<%= @banner %>); cursor: pointer" onclick='window.location.href="<%= ENV['HYPERLINK_BANNER'] %>"'>
			<div class="overlay"></div>
			<div class="container position-relative px-4 px-lg-5">
				<div class="row gx-4 gx-lg-5 justify-content-center">
					<div class="col-md-10 col-lg-8 col-xl-7">
						<% if params[:id].nil? %>
							<div class="site-heading">
								<h1>Live Demo Blog</h1>
								<span class="subheading">Geo-Targeted Banner Ads</span>
							</div>
						<% else %>
								<div class="post-heading">
									<div class="greet"><%= greeting %></div>
									<% if show_navigation? %>
										<h1><%= @presenter.post.title.html_safe %></h1>
										<h3 class="subheading">Geo-Targeted Banner Ads. Live Demo</h3>
										<span class="meta">
										<%= @presenter.created_at %><br>
										<%= @presenter.updated_on %>
										</span>
									<% elsif categories? %>
										<h1>Category: <%= @presenter.title %></h1>
									<% else %>
										<h1>Tag#<%= params[:id] %></h1>
									<% end %>
								</div>
						<% end %>
					</div>
				</div>
			</div>
		</header>
<% else %>
	<%= render 'shared/map' %>
<% end %>