<!-- Main Content -->
<div class="container">
  <div class="clearfix">
    <%= buttons %>
    <%= categories %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @object.each do |i| %>
      <%= preview(i) %>
        <div class="post-preview">
          <%= post_title_link(i) %>
            <p class="post-meta">Posted on
              <%= i.created_at %>
            </p>
        </div>
        <hr>
      <% end %>
          <div class="clearfix">
            <%= pagination %>
          </div>
    </div>
  </div>
</div>
<hr>
