<!-- Main Content -->
<div class="container">
  <div class="clearfix">
    <%= buttons %>
    <%= categories %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @articles.each do |i| %>
            <% if i.images.attached? && !current_page?(root_path) %>
               <div class="preview">
                          <%= link_to i.images.first, "data-lightbox" => i.title do %>
                            <%= image_tag i.images.first.variant(combine_options: { resize_to_fill: [400, 300], kuwahara: "3%" }) %>
                          <% end %>
               </div>
            <% end %>
        <div class="post-preview">
          <%= link_to :controller => :posts, :action => :show, :id => i.slug do %>
            <h2 class="post-title">
              <%= i.title %>
            </h2>
          <% end %>
            <p class="post-meta">Posted on
              <%= i.created_at %>
            </p>
        </div>
        <hr>
      <% end %>
          <div class="clearfix">
            <%= paginate @articles if current_page?(:controller => :archive) %>
          </div>
    </div>
  </div>
</div>
<hr>


