<!-- Main Content -->
<div class="container">
  <div class="clearfix">
    <%= button_one %>
    <%= button_two %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @object.each do |i| %>
      <% if controller.controller_name == 'categories' && controller.action_name == 'index' %>
      <%= categories_list(i) %>
      <% else %>
      <%= posts_list(i) %>
      <% end %>
        <hr>
      <% end %>
          <div class="clearfix">
            <%= pagination %>
          </div>
    </div>
  </div>
</div>
<hr>
