<!-- Main Content -->
<div class="container">
  <div class="clearfix">
    <%= buttons %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @articles.each do |i| %>
        <div class="post-preview">
          <%= link_to :controller => :posts, :action => :show, :id => i.slug do %>
            <h2 class="post-title">
              <%= i.title %>
            </h2>
          <% end %>
            <p class="post-meta">Posted on
              <%= i.created_at %>
            </p>
        </div>
        <hr>
      <% end %>
          <div class="clearfix">
            <%= paginate @articles if current_page?(:controller => :archive) %>
          </div>
    </div>
  </div>
</div>
<hr>