<div id="map" style="height:600px;"></div>
<script>
var map;
   function initMap() {
     var coord = {lat: <%= @coord[0] %>, lng: <%= @coord[1] %>};
     var map = new google.maps.Map(document.getElementById('map'), {
     center: coord,
       zoom: 12,
     });
     map.panBy(0,-100);
     mapTypeControl: false;
     var contentString = '<div id="content">'+
         '<div id="bodyContent">'+
         '<div><img src="https://openweathermap.org/img/w/<%= @hash["weather"][0]["icon"] %>.png" title="<%= @hash["weather"][0]["description"] %>" ></div>'+
         '<div><%= @hash["weather"][0]["main"] %></div>'+
         '<div>Temperature: <%= @hash["main"]["temp"] %> °С</div>'+
         '<div>Pressure: <%= @hash["main"]["pressure"] %> hPa</div>'+
         '<div>Humidity: <%= @hash["main"]["pressure"] %> %</div>'+
         '<hr>'+
         '<div><%= @hash["name"] %></div>'+
         '<div>Coordinates: <%= @hash["coord"]["lat"] %>, <%= @hash["coord"]["lon"] %></div>'
         '</div></div>';
     var infowindow = new google.maps.InfoWindow({
       content: contentString
     });
     var marker = new google.maps.Marker({
       position: coord,
       map: map
     });
     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
     infowindow.open(map, marker);
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap"
async defer></script>
