<div id="map" style="height:600px;"></div>
<script>
var map;
   function initMap() {
     var coord = {lat: <%= @coord[0] %>, lng: <%= @coord[1] %>};
     var map = new google.maps.Map(document.getElementById('map'), {
     center: coord,
       zoom: 12,
       disableDefaultUI: true
     });
     map.panBy(0,-150);
     var contentString = '<div id="content">'+
         '<div id="bodyContent">'+
         '<div><%= image_tag('https://openweathermap.org/img/w/' + @obj["weather"][0]["icon"] + '.png', title: @obj["weather"][0]["description"]) %></div>'+
         '<div><%= @obj["weather"][0]["main"] %></div>'+
         '<div>Temperature: <%= @obj["main"]["temp"] %> °С</div>'+
         '<div>Pressure: <%= @obj["main"]["pressure"] %> hPa</div>'+
         '<div>Cloudness: <%= @obj["clouds"]["all"] %> %</div>'+
         '<div>Humidity: <%= @obj["main"]["pressure"] %> %</div>'+
         '<div>Visibility: <%= @obj["visibility"] %> meter</div>'+
         '<div>Wind: <%= @obj["wind"]["speed"] %> m/s</div>'+
         '<div>Sunrise: <%= Time.at(@obj["sys"]["sunrise"]) %></div>'+
         '<div>Sunset: <%= Time.at(@obj["sys"]["sunset"]) %></div>'+
         '<hr>'+
         '<div><%= @obj["name"] %></div>'+
         '<div>Coordinates: <%= @obj["coord"]["lat"] %>, <%= @obj["coord"]["lon"] %></div>'
         '</div></div>';
     var infowindow = new google.maps.InfoWindow({
       content: contentString
     });
     var marker = new google.maps.Marker({
       position: coord,
       map: map
     });
     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
     infowindow.open(map, marker);
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap"
async defer></script>
