<link rel="stylesheet" href="/css/contact_form/mdb.css">
<div class="container">
    <!--Section: Contact v.2-->
    <section class="section">
        <!--Section heading-->
        <h1 class="section-heading h1 pt-4 articles"><%= title 'Contact us' %></h1>
        <!--Section description-->
        <p class="section-description">Черкните письмецо.<br>Уйдет администратору на email, дополнительно сохранится в базе данных сайта, прочесть можно как в почте, так и в панели Active Admin.<br>Помимо HTML5 валидаций, также включена проверка и на сервере: если, например, ошибиться в синтаксисе email - сработают Active Record Validations, получите через ajax переданный flash-message об ошибке.<br>Кнопка SEND заблокирована вплоть до успешного прохождения recaptcha, после каждой новой попытки recaptcha перезагружается.</p>
        <div id="flash-message">
            <%= render 'shared/flash' %>
        </div>
        <%= simple_form_for @contact, remote: true do |f| %>
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 col-xl-9">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <div class="md-form">
                                    <%= f.text_field :name, placeholder: "Your Name", class: 'form-control', required: true %>
                                        <%= label(:name, :name) %>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form">
                                <div class="md-form">
                                    <%= f.text_field :email, placeholder: "Email Address", class: 'form-control', required: true %>
                                        <%= label(:email, :email) %>
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                <%= f.text_field :subject, placeholder: "Message Subject", class: 'form-control', required: true %>
                                    <%= label(:subject, 'Subject, at least 5 characters') %>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <%= f.text_area :message, placeholder: "Your Message", class: 'md-textarea', required: true %>
                                    <%= label(:message, 'Your message should be at least 15 characters in length') %>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                    </form>
                    <%= recaptcha_tags :callback => "enableBtn" %>
                        <div class="center-on-small-only">
                            <%= f.submit :Send, class: 'btn', id: 'sbm', disabled: 'disabled' %>
                        </div>
        <% end %>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 col-xl-3">
                    <ul class="contact-icons">
                        <li><i class="fa fa-map-marker fa-2x"></i>
                            <p>Free World</p>
                        </li>
                        <li><i class="fa fa-phone fa-2x"></i>
                            <p>+ 01 234 567 89</p>
                        </li>
                        <li><i class="fa fa-envelope fa-2x"></i>
                            <p>info@masterpro.ws</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
    </section>
    <!--Section: Contact v.2-->
</div>

<script src="/js/contact_form/mdb.js"></script>
<script src="/js/btn_enable.js"></script>
