<!-- Post Content -->
<article>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="articles"><%= title @post.title %></h1>
            <% if @post.images.attached? %>
               <div class="preview">
                  <ul>
                     <% @post.images.each do |img| %>
                        <li>
                           <%= link_to img, "data-lightbox" => @post.title do %>
                              <%= image_tag(img) %>
                           <% end %>
                        </li>
                     <% end %>
                  </ul>
               </div>
            <% end %>
            <%= @post.text.html_safe %>
            <small>Tags: 
            <% @post.tag_list.each do |tag| %>
            <%= link_to tag, tag_url(tag) %>
            (<%= Post.tagged_with(tag).count %>)
            <% end %>
            </small>
                     <hr>
                     <h4>Comments</h4>
                     <%= render @post.comments %>
                     <h5>Add a comment:</h5>
                     <%= render 'comments/form' %>
         </div>
      </div>
   </div>
</article>