<!-- Post Content -->
<article>
   <div class="container">
      <%= render 'shared/social_networks_share_buttons' %>
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <%= link_to @presenter.category.title, { controller: "categories", action: "show", id: @presenter.category.friendly_id}, class: "post-category" if @presenter.category.present? %>
            <h1 class="articles"><%= title @presenter.post_title %></h1>
            <% if @presenter.post.images.attached? %>
               <div class="preview">
                  <ul>
                     <% @presenter.post.images.each do |img| %>
                        <li>
                           <%= link_to img, "data-lightbox" => @presenter.post_title do %>
                              <%= image_tag(img) %>
                           <% end %>
                        </li>
                     <% end %>
                  </ul>
               </div>
            <% end %>
            <%= @presenter.post.text.html_safe %>
            <% @presenter.post.tag_list.each do |tag| %>
            <%= tags(tag) %>
            <% end %>
                     <hr>
                     <h2>Add a comment:</h2>
                     <%= render @presenter.post.comments.published.order(created_at: :desc) %>
                     <%= render 'comments/form' %>
         </div>
      </div>
   </div>
</article>