<!-- Main Content -->
<div class="container">
  <div class="clearfix">
    <%= buttons %>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @object.each do |i| %>
      <%= preview_c(i) %>
        <div class="post-preview">
          <%= link_to :controller => "categories", :action => "show", :id => i.friendly_id do %>
            <h2 class="post-title">
              <%= i.name %>
            </h2>
          <% end %>
            <p class="post-meta">
              <%= i.description %>
            </p>
        </div>
        <hr>
      <% end %>
      <div class="clearfix">
        <%= pagination %>
      </div>
    </div>
  </div>
</div>
<hr>