<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%= display_meta_tags site: 'Blog on Rails' %>
    <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
          <%= javascript_include_tag "application" %>
            <!-- Custom styles for this template -->
            <%= stylesheet_link_tag("clean-blog.min") %>
            <!-- RSS -->
            <link href="/feed.rss" rel="alternate" title="RSS feed" type="application/rss+xml">
            <%= favicon_link_tag 'favicon.ico' %>
            <%= yield(:contacts_only) %>
</head>
<body>
	<!-- Spinner -->
	<div class="spinner-grow text-secondary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<!-- Navigation -->
	<%= render 'shared/navigation' %>
		<!-- Page Header -->
		<%= render 'shared/header' %>
			<%= yield %>
				<!-- Footer -->
				<footer>
					<div class="container">
						<div class="row">
							<%= render 'shared/rss_feed' %>
							<%= render 'shared/links' %>
						</div>
					</div>
				</footer>
				<!-- Custom scripts for this template -->
				<%= render 'shared/custom' %>
</body>
</html>