<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'Blog on Rails' %>
    <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= stylesheet_pack_tag 'application', media: 'all' %>
          <%= javascript_pack_tag 'application' %>
            <!-- Custom fonts for this template -->
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
            <!-- Custom styles for this template -->
            <%= stylesheet_link_tag("clean-blog.min") %>
            <!-- RSS -->
            <link href="/feed.rss" rel="alternate" title="RSS feed" type="application/rss+xml">
            <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<!-- Spinner -->
	<div class="spinner-grow text-secondary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<!-- Navigation -->
	<%= render 'shared/navigation' %>
		<!-- Page Header -->
		<%= render 'shared/header' %>
			<%= yield %>
				<!-- Footer -->
				<footer>
					<div class="container">
						<div class="row">
							<%= render 'shared/rss_feed' %>
							<%= render 'shared/links' %>
						</div>
					</div>
				</footer>
				<!-- Custom scripts for this template -->
				<%= render 'shared/custom' %>
</body>
</html>