<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'Blog on Rails' %>
    <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
            <!-- Custom fonts for this template -->
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
            <!-- Custom styles for this template -->
            <link href="/css/clean-blog.min.css" rel="stylesheet">
            <!-- RSS -->
            <link href="/feed.rss" rel="alternate" title="RSS feed" type="application/rss+xml">
</head>
<body>
	<!-- Navigation -->
	<%= render 'shared/navigation' %>
		<!-- Page Header -->
		<%= render 'shared/header' %>
			<%= yield %>
				<!-- Footer -->
				<footer>
					<div class="container">
						<div class="row">
							<%= render 'shared/rss_feed' %>
								<div class="col-lg-8 col-md-10 mx-auto">
									<ul class="list-inline text-center">
										<li class="list-inline-item">
											<a href="https://twitter.com/cmirnow" target="_blank"> <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span> </a>
										</li>
										<li class="list-inline-item">
											<a href="https://www.facebook.com/cmirnow" target="_blank"> <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span> </a>
										</li>
										<li class="list-inline-item">
											<a href="https://github.com/cmirnow/CRUD-Blog" target="_blank"> <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span> </a>
										</li>
									</ul>
									<p class="copyright text-muted">Copyright &copy;
										<%= link_to "Masterpro.ws", "https://masterpro.ws", target: "_blank" %> 2020 - 2021</p>
								</div>
						</div>
					</div>
				</footer>
				<!-- Custom scripts for this template -->
				<%= scroll_up %>
					<script src="/js/clean-blog.min.js"></script>
					<script src="/js/scroll_up.js"></script>
</body>
</html>
